<html>
    <head>
        <link rel="stylesheet" type="text/css" href="test_css.css"> <!--css연결-->
        <!--<script type="text/javascript" src="test_js2.js"></script>-->
        <script type="text/javascript" src="test_js2.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="fdiv">
            <h1>김예삐</h1>
            <h1>김꼬미</h1>
            <h1>김요미</h1>
        </div>
        <div id="tdiv">
            <h2 id="yebbi">김예삐</h2>
            <h2>김꼬미</h2>
            <h2>김요미</h2>
            <div id="cat">
                <h2>김예삐</h2>
                <h2>김꼬미</h2>
                <h2>김요미</h2>
                <!-- <input type="text" id="text_box" onkeyup="checkTextBox()"> -->
                <input type="text" id="text_box" />
                <button id="button1">이미지숨기기</button><br><br>
                <div>
                    <img id="img1" src="https://search2.kakaocdn.net/argon/0x200_85_hr/AlMwJWhupBx">
                </div>
            </div>
        </div>
        <div id="fdiv2">
            <h1>김예삐</h1>
            <h1>김꼬미</h1>
            <h1>김요미</h1>
        </div>
        <div id="fdiv3">
            <h1 id="fidv3_1">김예삐</h1>
            <h1>김꼬미</h1>
            <h1>김요미</h1>
        </div>
    </body>
</html>